* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(135deg, #ff4f9a, #1a001f);
  color: white;
}

.page {
  display: none;
  height: 100vh;
  width: 100vw;
  padding: 40px;
  text-align: center;

  background: linear-gradient(135deg, #ff4f9a, #1a001f);
}

.page.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

input {
  padding: 12px;
  width: 80%;
  border-radius: 12px;
  border: none;
  margin-bottom: 20px;
  font-size: 1rem;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #fff;
  color: #ff4f9a;
  font-size: 1rem;
  cursor: pointer;
}

/* HEARTS */
.heart {
  position: fixed;
  width: 15px;
  height: 15px;
  background: pink;
  transform: rotate(45deg);
  animation: fall 6s linear infinite;
}

.heart::before,
.heart::after {
  content: '';
  width: 15px;
  height: 15px;
  background: pink;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -8px;
  left: 0;
}

.heart::after {
  left: -8px;
  top: 0;
}

@keyframes fall {
  from {
    top: -10%;
    opacity: 1;
  }
  to {
    top: 110%;
    opacity: 0;
  }
}
